.about {
  display: grid;
  row-gap: 32px;
  max-width: 1128px;

  &_heading {
    display: grid;
    row-gap: 24px;
    text-align: center;
  }

  &_stats {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-evenly;
    width: 100%;

    &_item {
      display: grid;
      row-gap: 8px;
      align-content: start;
      justify-items: center;
    }

    &_value {
      font-weight: 700;
      color: #e31d22;
      letter-spacing: 0.11em;

      @media (width >= 740px) {
        font-size: 52px;
      }

      @media (width <= 739.98px) {
        font-size: 32px;
      }
    }

    &_label {
      font-weight: 500;

      @media (width >= 740px) {
        font-size: 16px;
      }

      @media (width <= 739.98px) {
        font-size: 14px;
      }
    }
  }

  &_descr {
    max-width: 1128px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #8e8e8e;
  }
}
